<!-- Page Content Holder  -->
<div id="content" style="margin-top: 150px; position: absolute">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <div class="card" style="margin-bottom: 10px">
          <div class="card-header text-center">
            <h4>IDR</h4>
          </div>
          <ul class="card-body nav navbar-nav">
            <li>
              <canvas id="canvas">{{Chart}}</canvas>
            </li>
          </ul>
        </div> 
      </div>
    </div>
  </nav>
</div>